.main-content{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.main-content-headline {
    font-family: "Oswald";
    color: #464547;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.main-content-subheadline {
    font-family: "Source Sans Pro";
    color: #666666;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;  
}

.main-article{
    font-family: "Source Sans Pro";
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;  
}

.main-button {
    font-family: "Oswald Regular";
    color: white;
    background-color: #55C2D8;
    width: 115px;
    height: 36px;
    font-size: 14px;
    line-height: 26px;
    border-radius: 18px;
    border: 0px;
    margin-top:40px;
}