
.footer-project_logo{
    display: flex;
    align-items: center;
}

.footer-project_logo span{
    margin: 5%;
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
}

.footer-content{
    display: inline;    
    align-items: center;
    position: absolute;
    top: 10%;
    left: 20%;
}

.footer-contact_info {    
    color: rgba(255, 255, 255, 0.4);
}
.footer-contact_info a {    
    color: inherit;
    text-decoration: none;
}
